<div class="row fill-window">

  <div class="col-md-3">
    <h5>Dine grupper:</h5>
    <hr>
    <mat-list
      *ngFor="let group of groups; let i = index">
      <mat-list-item>
        <button mat-menu-item>{{ group.groupName }}</button>
      </mat-list-item>
    </mat-list>

  </div>
  <br>


  <div class="row">
    <div class="col-md-7">
      <form #form="ngForm">
        <mat-form-field class="full-width">
          <input
            ngModel
            name="groupName"
            type="text"
            id="groupName"
            matInput
            placeholder="Indtast gruppens navn" #groupName>
        </mat-form-field>
      </form>
    </div>

    <div class="col-md-2">
      <button style="margin-top: 10px;"
              color="primary"
              mat-button
              (click)="showGroupMembers(list)"
              (click)="onGroupAdd(form)"
              [disabled]="!form.valid">{{editMode ? 'Ret gruppe': 'Tilføj'}}
      </button>
    </div>

    <mat-selection-list #list>
      <mat-list-option *ngFor="let user of users; let i = index">
        <mat-list-item>
          <button mat-menu-item (click)="toggleGroups(user.fornavn + ' ' + user.efternavn)">{{ user.fornavn + ' ' + user.efternavn}}</button>
        </mat-list-item>
      </mat-list-option>
    </mat-selection-list>


  </div>

</div>
