<mat-card class="fill-window">
    <h5>Grupper</h5>
    <hr>

    <mat-list
      [routerLink]="['group', group.id]"
      *ngFor="let group of groups.getGroups()">
        <mat-list-item><button mat-menu-item>{{ group.name }}</button></mat-list-item>
    </mat-list>
<br>
    <h5>Personer</h5>
    <hr>
    <!-- [routerLink]="['personal', user.brugernavn]" -->
    <mat-list
    [routerLink]="['personal', user.brugernavn]"
        *ngFor="let user of users; let i = index"
        (click)="onPersonalMessage(i)">
        <mat-list-item><button mat-menu-item>{{ user.fornavn }}</button></mat-list-item>
    </mat-list>
</mat-card>
