<mat-card class="fill-window">
    <h5>Grupper</h5>
    <hr>

    <mat-list
      [routerLink]="['group', group.id]"
      *ngFor="let group of groups.getGroups()">
        <mat-list-item><button mat-menu-item>{{ group.name }}</button></mat-list-item>
    </mat-list>
<br>
    <h5>Personer</h5>
    <hr>
    <mat-list
      [routerLink]="['personal', person.id]"
      *ngFor="let person of persons">
        <mat-list-item><button mat-menu-item>{{ person.name }}</button></mat-list-item>
    </mat-list>
</mat-card>
