<div class="fill-window">
    <h5>{{title}}</h5>
    <hr>

  <div class="row">
    <div class="col-md-9">
        <form #form="ngForm">
        <mat-form-field class="full-width">
          <input
            ngModel
            name="todomessage"
            type="text"
            id="todomessage"
            matInput
            placeholder="Indtast din todo" #todomessage>
        </mat-form-field>
      </form>
  </div>
    <div class="col-md-3">
      <button style="margin-top: 10px;"
        color="primary"
        mat-button
        (click)="onAddTodo(form)"
        [disabled]="!form.valid || todomessage.value === ''">{{editMode ? 'Ret todo': 'Tilføj'}}</button>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-6">
      <button *ngIf="editMode" color="accent" mat-button type="button" (click)="onClear()">Anuller</button>
  </div>
  <div class="col-md-6">
    <button color="accent" mat-button type="button" (click)="onDelete()" *ngIf="editMode">Slet</button>
  </div>
</div>
  <hr>

