<div class="fill-window">
  <h3>Todo liste:</h3>
  <mat-form-field>

  <form (ngSubmit)="onAddTodo(f)" #f="ngForm">
    <input type="text"
           id="todomessage"
           class="mat-form-field"
           name="todomessage"
           ngModel
           matInput placeholder="Indtast din todo"/>

    <button
    class="mat-button"
    type="submit"
    [disabled]="!f.valid">{{editMode ? 'Ret todo': 'Tilføj'}}</button>
  </form>
    <button class="mat-button" type="button" (click)="onClear()">Ryd</button>
    <button class="mat-button" type="button" (click)="onDelete()" *ngIf="editMode">Slet</button>
  </mat-form-field>


</div>

