<div class="row fill-window">
  <div class="col-md-2">
    <app-contacts></app-contacts>
  </div>
  <div class="col-md-7">

<div class="content">
  <div class="container">
    <img src="/assets/blank-profile.png" alt="Avatar">
    <p>Hello. How are you today?</p>
    <span class="time-right">11:00</span>
  </div>

  <div class="container darker">
    <img src="/assets/blank-profile.png" alt="Avatar" class="right">
    <p>Hey! I'm fine. Thanks for asking!</p>
    <span class="time-left">11:01</span>
  </div>

  <div class="container">
    <img src="/assets/blank-profile.png" alt="Avatar">
    <p>Sweet! So, what do you wanna do today?</p>
    <span class="time-right">11:02</span>
  </div>



  <div *ngFor="let message of messages">
    <div class="container darker">
      <img src="https://i.pinimg.com/originals/5f/ee/8b/5fee8bba26cfac952edcdb3017adc115.jpg" alt="Avatar" class="right">
      <p>{{message}}</p>
      <span class="time-left">11:05</span>
    </div>
  </div>
</div>

<p>
  <mat-form-field class="full-width">
    <input type="text" id="message" matInput placeholder="Indtast din besked her..." #messageInput>
  </mat-form-field>
  <button mat-button (click)="onSendMessage()">Send</button>
</p>

  </div>
  <div class="col-md-3">
    <app-todo></app-todo>
  </div>
</div>
