/* Chat containers */
.content {
  min-height: 500px;
  height: 80vh;
  overflow: scroll;
}

.container {
  border: 2px solid #5566c3;
  background-color: #6877ca;
  border-radius: 10px;
  padding: 10px;
  margin: 10px 0;
  overflow: scroll;
  width: auto 100px;
  max-width: 600px;
}

/* Darker chat container */
.darker {
  border-color: #5566c3;
  background-color: #3c4caa;
  float: right;
  margin-bottom: 20px;
}

/* Clear floats */
.container::after {
  content: "";
  clear: both;
  display: table;
}

/* Style images */
.container img {
  float: left;
  max-width: 60px;
  width: 100%;
  margin-right: 20px;
  border-radius: 50%;
}

/* Style the right image */
.container img.right {
  float: right;
  margin-left: 20px;
  margin-right:0;
}

/* Style time text */
.time-right {
  float: right;
  color: #FFFFFF;
}

/* Style time text */
.time-left {
  float: left;
  color: #FFFFFF;
}


.full-width {
  width: 90%;
}

.text-style {
  color: white;
}