
<mat-tab-group>
  <mat-tab label="Chat">


<div class="content">
<ng-template [ngIf]="!hasChat">
  <p>You havn't chatted with yet!</p>
</ng-template>
<ng-template [ngIf]="hasChat">
  <div *ngFor="let message of chat; let i = index">
    <div
    class="container"
    [ngClass]="{'darker':message.interactorId !== user.brugernavn}">
      <img src="/assets/blank-profile.png" alt="Avatar"
      [ngClass]="{'right':message.interactorId !== user.brugernavn}">
      <p class="text-style">{{ message.message }}</p>
      <span class="time-left">{{ message.time }}</span>
    </div>
  </div>
</ng-template>
</div>

<hr>
<p>
  <mat-form-field class="full-width">
    <input type="text" id="message" matInput placeholder="Indtast din besked her..." #messageInput>
  </mat-form-field>
  <button [disabled]="messageInput.value === ''" mat-raised-button (click)="onSendMessage()">Send</button>
</p>
<hr>

  </mat-tab>
  <mat-tab label="Drev">
    <app-drive></app-drive>
  </mat-tab>
</mat-tab-group>
