
<div class="login-page">
  <div align="center">
    <img src="../../../assets/DTUSocial-logo3.jpg" height="97" width="203"/><br> <br>
    <div class="form">
      <div class="alert alert-danger"
        *ngIf="!auth">
        <p>Brugernavn eller password er indtastet forkert.</p>
      </div>
      <mat-spinner class="center-spinner" *ngIf="showSpinner"></mat-spinner>
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="login-form">
      <input type="text"
             id="userName"
             formControlName="userName"
             placeholder="Username"
             #username />
    <span
        *ngIf="!loginForm.get('userName').valid && loginForm.get('userName').touched"
        >
        <span *ngIf="loginForm.get('userName').errors['required']"
              class="alert alert-warning">
          Udfyld Brugernavn
        </span><br>
      </span><br>
      <input type="password"
             id="passWord"
             formControlName="passWord"
             placeholder="Password"
             #password/>
      <span
        *ngIf="!loginForm.get('passWord').valid && loginForm.get('passWord').touched"
        class="">
        <span *ngIf="loginForm.get('passWord').errors['required']"
              class="alert alert-warning">
          Udfyld Adgangskode
        </span><br>
      </span><br>
      <button
          [disabled]="username.value === '' || password.value === '' ">Login</button>
      <p class="message"> <a href="#">Glemt adgangkode?</a></p>
    </form>
  </div>
</div>


