
<div class="login-page">
  <div align="center">

    <img src="/assets/DTUSocial-logo.jpg" height="97" width="203"/>
    <br> <br>
    <div class="form">
    <!--<form [formGroup]="loginForm" class="register-form">
      <input type="text" placeholder="Name"/>
      <input type="password" placeholder="Password"/>
      <input type="text" placeholder="email address"/>
      <button>create</button>
      <p class="message">Already registered? <a href="#">Sign In</a></p>
    </form>-->
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="login-form">
      <input type="text"
             id="userName"
             formControlName="userName"
             placeholder="Username"/>
    <span
        *ngIf="!loginForm.get('userName').valid && loginForm.get('userName').touched"
        >
        <span *ngIf="loginForm.get('userName').errors['required']"
              class="alert alert-danger">
          Udfyld Brugernavn
        </span><br>
      </span><br>
      <input type="password"
             id="passWord"
             formControlName="passWord"
             placeholder="Password"/>
      <span
        *ngIf="!loginForm.get('passWord').valid && loginForm.get('passWord').touched"
        class="">
        <span *ngIf="loginForm.get('passWord').errors['required']"
              class="alert alert-danger">
          Udfyld Adgangskode
        </span><br>
      </span><br>
      <button>login</button>
      <p class="message"> <a href="#">Glemt adgangkode?</a></p>
    </form>
  </div>
</div>

